@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model PRN_ExamO_HE176160.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Login";
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,1000;1,400;1,500&family=Oswald:wght@600&family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">


    

<style>

    * {
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Nunito', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
        color: #4d4d4d;
        /*border: 1px solid red !important;*/

        transition: .3s all ease;
    }

    .login-form {
        width:fit-content;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        padding:2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius:2rem;
    }

    .login-form input{
        padding: 4px 8px;
        font-size:1.4rem;
        border-radius:.5rem;
    }

    #sm-btn {
        padding: .4rem 1rem;
        font-size: 1.4rem;
        width:100%;
        cursor:pointer;
        background-color:white;
        border-radius: 1rem;
    }

    #sm-btn:hover{
        background-color:black;
        color:white;
    }
    
    </style>

<div class="login-form">

<form asp-controller="Dashboard" asp-action="Login" method="post">
    @*<input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />*@
    <table>
        <tr>
            <td></td>
            <td>
                    <h2>Login</h2>
            </td>
        </tr>
        <tr>
            <td>
                    <label for="Email">Email</label>
            </td>
            <td>
                    <input type="text" id="Email" name="Email" />
            </td>
        </tr>
            <tr>
                <td>
                    <label for="Email">Password</label>
                </td>
                <td>
                    <input type="password" id="Password" name="Password" />
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input id="sm-btn" type="submit" value="Login" />
                </td>
            </tr>
    </table>
</form>
</div>