@using PRN_ExamO_HE176160.Models

@model PRN_ExamO_HE176160.Models.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>hello</h1>
<h2>@ViewBag.User</h2>